body , ul, li, lo, a{
    background-color: slategrey !important;
    color: white !important;
}



a {
    font-size: 22px;
    text-decoration: underline;
}
a:hover{
    text-decoration: none;
    color:tomato !important;
}

* {
    font-size: 18px;
}
/* div {
    border:  1px solid rgb(206, 221, 233) !important;
} */